<a href="https://colab.research.google.com/github/chettkulkarni/MachineLearning/blob/master/dTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import requests
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO 
from IPython.display import Image 
from pydot import graph_from_dot_data
import numpy as np

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)

In [5]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

link = 'https://drive.google.com/open?id=1C3lh2XoL9zWwlnu-ZkWjvEsJvO6y0ECC'
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='


downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Fire.csv')

1C3lh2XoL9zWwlnu-ZkWjvEsJvO6y0ECC

In [0]:
df=pd.read_csv('Fire.csv')

In [7]:
df

       Unnamed: 0  LATITUDE  ...  DISCOVERY_DOY  FIRE_SIZE
0               0      19.0  ...             63        0.1
1               1      19.0  ...            111      100.0
2               2      19.0  ...            160        0.1
3               3      19.0  ...            193        0.1
4               4      19.0  ...            292        0.1
...           ...       ...  ...            ...        ...
33200       33200      65.0  ...            130        0.1
33201       33201      65.0  ...            154     1252.1
33202       33202      67.0  ...            182    30238.9
33203       33203      67.0  ...            182        1.5
33204       33204      67.0  ...            182       20.0

[33205 rows x 11 columns]

In [0]:
X=df.loc[:, df.columns != 'STAT_CAUSE_CODE']

In [0]:
y=df.STAT_CAUSE_CODE

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [16]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [0]:
y_pred = dt.predict(X_test)

In [24]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)*100

42.43555769694049

In [26]:
dt = DecisionTreeClassifier(criterion='entropy')
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
accuracy_score(y_test, y_pred)*100

43.79667549987955