<a href="https://colab.research.google.com/github/chettkulkarni/MachineLearning/blob/master/weatherDataLoad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import requests
import pandas as pd

In [151]:
# response = requests.get("https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&startdate=2017-01-01&enddate=2017-01-31&locationid=FIPS:23&format=csv", headers={'token': 'RGFmBkMzqCUgFXbiQWeqalQIAAoBMhTQ'})
# response = requests.get("https://www.ncdc.noaa.gov/cdo-web/api/v2/locationcategories", headers={'token': 'RGFmBkMzqCUgFXbiQWeqalQIAAoBMhTQ'})



# response.content

b'{"metadata":{"resultset":{"offset":1,"count":12,"limit":25}},"results":[{"name":"City","id":"CITY"},{"name":"Climate Division","id":"CLIM_DIV"},{"name":"Climate Region","id":"CLIM_REG"},{"name":"Country","id":"CNTRY"},{"name":"County","id":"CNTY"},{"name":"Hydrologic Accounting Unit","id":"HYD_ACC"},{"name":"Hydrologic Cataloging Unit","id":"HYD_CAT"},{"name":"Hydrologic Region","id":"HYD_REG"},{"name":"Hydrologic Subregion","id":"HYD_SUB"},{"name":"State","id":"ST"},{"name":"US Territory","id":"US_TERR"},{"name":"Zip Code","id":"ZIP"}]}'

In [0]:
# responseObject=response.json()

In [0]:
# df=pd.DataFrame.from_dict(responseObject['results'])

In [166]:
# df

                          name        id
0                         City      CITY
1             Climate Division  CLIM_DIV
2               Climate Region  CLIM_REG
3                      Country     CNTRY
4                       County      CNTY
5   Hydrologic Accounting Unit   HYD_ACC
6   Hydrologic Cataloging Unit   HYD_CAT
7            Hydrologic Region   HYD_REG
8         Hydrologic Subregion   HYD_SUB
9                        State        ST
10                US Territory   US_TERR
11                    Zip Code       ZIP

In [0]:
from ftplib import FTP
from datetime import datetime

start = datetime.now()
ftp = FTP('ftp.ncdc.noaa.gov')
ftp.login()
ftp.cwd("pub/data/ghcn/daily/by_year/")


# Get All Files
files = [str(x)+'.csv.gz' for x in range(1985,2011)]

# Print out the files
for file in files:
	print("Downloading..." + file)
	ftp.retrbinary("RETR " + file ,open(file, 'wb').write)

ftp.close()

end = datetime.now()
diff = end - start
print('All files downloaded for ' + str(diff.seconds) + 's')

Downloading...1985.csv.gz
Downloading...1986.csv.gz
Downloading...1987.csv.gz
Downloading...1988.csv.gz
Downloading...1989.csv.gz
Downloading...1990.csv.gz
Downloading...1991.csv.gz
Downloading...1992.csv.gz
Downloading...1993.csv.gz
Downloading...1994.csv.gz