<a href="https://colab.research.google.com/github/chettkulkarni/MachineLearning/blob/master/weatherDataLoad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import requests
import pandas as pd

In [0]:
# response = requests.get("https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&startdate=2017-01-01&enddate=2017-01-31&locationid=FIPS:23&format=csv", headers={'token': 'RGFmBkMzqCUgFXbiQWeqalQIAAoBMhTQ'})
# response = requests.get("https://www.ncdc.noaa.gov/cdo-web/api/v2/locationcategories", headers={'token': 'RGFmBkMzqCUgFXbiQWeqalQIAAoBMhTQ'})



# response.content

b'{"metadata":{"resultset":{"offset":1,"count":12,"limit":25}},"results":[{"name":"City","id":"CITY"},{"name":"Climate Division","id":"CLIM_DIV"},{"name":"Climate Region","id":"CLIM_REG"},{"name":"Country","id":"CNTRY"},{"name":"County","id":"CNTY"},{"name":"Hydrologic Accounting Unit","id":"HYD_ACC"},{"name":"Hydrologic Cataloging Unit","id":"HYD_CAT"},{"name":"Hydrologic Region","id":"HYD_REG"},{"name":"Hydrologic Subregion","id":"HYD_SUB"},{"name":"State","id":"ST"},{"name":"US Territory","id":"US_TERR"},{"name":"Zip Code","id":"ZIP"}]}'

In [0]:
# responseObject=response.json()

In [0]:
# df=pd.DataFrame.from_dict(responseObject['results'])

In [0]:
# df

                          name        id
0                         City      CITY
1             Climate Division  CLIM_DIV
2               Climate Region  CLIM_REG
3                      Country     CNTRY
4                       County      CNTY
5   Hydrologic Accounting Unit   HYD_ACC
6   Hydrologic Cataloging Unit   HYD_CAT
7            Hydrologic Region   HYD_REG
8         Hydrologic Subregion   HYD_SUB
9                        State        ST
10                US Territory   US_TERR
11                    Zip Code       ZIP

In [0]:
# from ftplib import FTP
# from datetime import datetime

# start = datetime.now()
# ftp = FTP('ftp.ncdc.noaa.gov')
# ftp.login()
# ftp.cwd("pub/data/ghcn/daily/by_year/")


# # Get All Files
# files = [str(x)+'.csv.gz' for x in range(1985,2000)]

# # Print out the files
# for file in files:
# 	print("Downloading..." + file)
# 	ftp.retrbinary("RETR " + file ,open(file, 'wb').write)

# ftp.close()

# end = datetime.now()
# diff = end - start
# print('All files downloaded for ' + str(diff.seconds) + 's')

In [0]:
df = pd.read_csv('1987.csv.gz', compression='gzip', header=0, sep=',', quotechar='"', error_bad_lines=False)

In [6]:
df

          CA002303986  19860101  TMAX  ...  Unnamed: 5  C Unnamed: 7
0         CA002303986  19860101  TMIN  ...         NaN  C        NaN
1         CA002303986  19860101  PRCP  ...         NaN  C        NaN
2         CA002303986  19860101  SNOW  ...         NaN  C        NaN
3         ASN00037003  19860101  PRCP  ...         NaN  a        NaN
4         USC00242347  19860101  TMAX  ...         NaN  0     1830.0
...               ...       ...   ...  ...         ... ..        ...
33927502  USC00033998  19861231  PRCP  ...         NaN  0      700.0
33927503  USC00033998  19861231  SNOW  ...         NaN  0        NaN
33927504  USC00033998  19861231  SNWD  ...         NaN  0        NaN
33927505  NOE00111031  19861231  PRCP  ...         NaN  E        NaN
33927506  NOE00111031  19861231  SNWD  ...         NaN  E        NaN

[33927507 rows x 8 columns]

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

In [12]:
!pip install pyspark
import pyspark
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark import SparkFiles

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession \
        .builder \
        .appName("stackOverflow") \
        .getOrCreate()

In [0]:
# import findspark
# findspark.init()
# from pyspark.sql import SparkSession
# spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
sc =SparkContext.getOrCreate()

for file in files:
  sc.addFile(file)

In [0]:
sqlContext = SQLContext(sc)
sqlContext
# df = sqlContext.read.csv(SparkFiles.get(files), header=True, inferSchema= True)
# df.printSchema()

spark.read.format("csv").option("header", "true").load("*.csv.gz")
df=spark.read.option("header", "false").csv("*.csv.gz")

In [50]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)

In [51]:
files = [str(x)+'.csv.gz' for x in range(1985,1988)]
files

['1985.csv.gz', '1986.csv.gz', '1987.csv.gz']

In [55]:
df.show(5)

+-----------+--------+----+----+----+----+---+----+
|        _c0|     _c1| _c2| _c3| _c4| _c5|_c6| _c7|
+-----------+--------+----+----+----+----+---+----+
|ASN00037003|19850101|PRCP|   0|null|null|  a|null|
|USC00242347|19850101|TMAX| -33|null|null|  0|1830|
|USC00242347|19850101|TMIN|-256|null|null|  0|1830|
|USC00242347|19850101|TOBS| -61|null|null|  0|1830|
|USC00242347|19850101|PRCP|   0|   P|null|  0|1830|
+-----------+--------+----+----+----+----+---+----+
only showing top 5 rows